<html>
        <head>
                <title>{{block "title" .}}No Title Set{{end}}</title>
                {{ block "base_css" .}}
                  <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"  />
                  <link rel="stylesheet" type="text/css" href="/static/css/core.css"  />
                  <link rel="stylesheet" type="text/css" href="/static/css/base.css"  />
                {{end}}
                {{ block "css" .}} {{end}}
                {{ block "scripts" .}} {{end}}
        </head>
        <body>
          <div class="container">
          {{ block "header" .}}
          <div class="row header_row">
            {{ block "loginform" . }}
              {{ if .Authenticated }}
                <div class="one columns"> &nbsp;
                  {{ if eq .Page "Index"}}
                    Home
                  {{else}}
                    <a href="/">Home</a>
                  {{end}}
                </div>

                <div class="thirteen columns"> &nbsp; </div>

                <div class="one columns">
                  {{ if eq .Page "Profile"}}
                    Profile
                  {{else}}
                    <a href="/profile">Profile</a>
                  {{end}}
                </div>

                <div class="one columns"><a href="/logout">Logout</a> </div>




              {{else}}
                <div class="six columns">
                  &nbsp;
                </div>
                <div class="ten columns">
                  <form action="/login" method="POST">
                    Email: <input type="email" name="email" class="login-input">
                    Password: <input type="password" name="password" class="login-input">
                    <input type="submit" value="login">
                  </form>
                </div>
              {{end}}

              {{end}} <!--end loginform -->
          </div>

          <div class="row header_row">
            {{block "pagedescription" .}}&nbsp;{{end}}
          </div>

            <div class="row header_row">
              {{ if .Flashes}}
                <div class="four columns">&nbsp;</div>
                <div class="eight columns">
                  <ul>
                    {{range .Flashes}}
                      <div class="alert {{.Class}}">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                          {{.Message}}
                      </div>
                    {{end}}
                  </ul>
                </div>
                <div class="four columns">&nbsp;</div>

              {{else}}
                <div class="sixteen columns"> &nbsp; </div>
              {{end}}

            </div>
            <div class="row header_row header_bottom"><!-- Not sure yet -->
              <div class="sixteen columns">
                &nbsp;
              </div>
            </div>
          {{end}}<!-- End Header Block-->

          {{ block "admintools" .}}
            {{if .IsAdmin}}
              <div class="row admin_tools_row header_bottom">
                <div class="sixteen columns">&nbsp;</div>
              </div>
            {{end}}
          {{end}}

          {{ block "content" .}}
          <div class="row">
            &nbsp;
          </div>
          <div class="row">
            &nbsp;
          </div>
          <div class="row">
            &nbsp;
          </div>
          <div class="row">
            &nbsp;
          </div>
          {{end}}<!-- end Content Block -->

          {{ block "footer" .}}
          <div class="row header_row footer_top">
            <div class="twelve columns">
              &nbsp;
            </div>
            <div class="four columns">
              Created by <a href="http://www.cagox.net/" target="_blank">Cagox</a>
            </div>
          </div>
          <div class="row header_row">
            <div class="twelve columns">
              &nbsp;
            </div>
            <div class="four columns">
              Powered By <a href="https://golang.org/" target="_blank">Go!</a>
            </div>
          </div>
          <div class="row header_row">
            <div class="twelve columns">
              &nbsp;
            </div>
            <div class="four columns">
              <a href="https://github.com/cagox/gge" target="_blank">Get The Source</a>
            </div>
          </div>



          </div><!-- close container -->
          {{end}}





        </body>
</html>
