{{define "title"}}Dashboard for {{.Name}}{{end}}


{{define "pagedescription"}}
  <div class="five columns">&nbsp;</div>
  <div class="six columns"><center><h2>Dashboard for {{.Name}}</h2></center></div>
  <div class="five columns">&nbsp;</div>
{{end}}

{{define "content"}}

<div class="row"><div class="sixteen columns">&nbsp;</div></div>

<div class="row"><div class="sixteen columns">&nbsp;</div></div>

<div class="row"><div class="sixteen columns">Profile!</div></div>

<div class="row"><div class="sixteen columns">&nbsp;</div></div>

<div class="row"><div class="sixteen columns">&nbsp;</div></div>


{{end}}
