{{define "title"}}List of Users{{end}}


{{define "content"}}

<div class="row"> &nbsp; </div>

<div class="row">
  <div class="seven columns">&nbsp;</div>
  <div class="two columns"><h2>Users</h2></div>
  <div class="seven columns">&nbsp;</div>
</div>

{{ range .Profiles }}
  <div class="row">
    <div class="one columns">&nbsp;</div>
    <div class="two columns"> {{.DisplayName}}</div>
    <div class="thirteen columns">&nbsp;</div>
  </div>
{{end}}



<div class="row"> &nbsp; </div>


{{end}}
