

{{define "content"}}

<p>Greetings. {{.Sender}} has invited you to create an account on the God Game Engine website.</p>

<p>If this is in error, feel free to ignore this message or contact the admin at cagox@cagox.net.</p>

<p>Otherwise, just <a href="https://gge.cagox.net/users/invite/{{.Token}}">click here</a> to go to the website and register.</p>

<p>If the above link does not work, copy and past the URL bellow into your browser's address bar.</p>

<p>https://gge.cagox.net/users/invite/{{.Token}}</p>


{{end}}
